body {
	background-color: red;
}

h1 {
	text-align: center;
}

.dice {
	text-align: center;
}

.rerollDice {
	text-align: center;
}

.allPlayers {
	display: grid;
	grid-template-columns: auto auto;

}

.rolledDice {
/*	display: block;*/
/*	display: inline-grid;*/
	display: flex;
    align-items: center;
    justify-content: center;
}
.rolledDice p {
	margin: 5px;
	font-size: 35px;
}

.thisDice {
	padding: 5px;
}

.thisDice:hover {
/*	font-size: 45px;*/
	background-color: blue;
}